<p>notecard works!</p>

<!-- <pre>{{data | json}}</pre> -->

<table>
    <tr>
        <th>Id</th>
        <td>{{data?.id}}</td>
    </tr>
    <tr>
        <th>Url</th>
        <td>{{data?.id}}</td>
    </tr>
    <tr>
        <th>Forks Url</th>
        <td>{{data?.forks_url}}</td>
    </tr>
    <tr>
        <th>Commits Url</th>
        <td>{{data?.commits_url}}</td>
    </tr>
    <tr>
        <th>Node ID</th>
        <td>{{data?.node_id}}</td>
    </tr>
    <tr>
        <th>Git Pull Url</th>
        <td>{{data?.git_pull_url}}</td>
    </tr>
    <tr>
        <th>Git Push Url</th>
        <td>{{data?.git_push_url}}</td>
    </tr>
    <tr>
        <th>HTML Url</th>
        <td>{{data?.html_url}}</td>
    </tr>
</table>